*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

hr{
    margin: 7px 10px;
}

.container{
    max-width: 300px;
    height: auto;
    box-shadow: 15px 15px 15px rgb(68 68 68 / 60%);
    display: block;
    margin: 2rem auto;
    border: 1px solid #000;
}

img{
    width: 300px;
}

/* #dog-text{
    padding: 10px 15px;
} */

#dog-text{
    line-height: 20px;
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
    color: #666;
}

#heading{
    font-size: 2rem;
    color: rgb(16, 17, 17);
    padding: 0 10px;
}

#button{
    display: block;
    margin: 1rem  auto;
    color: #fff;
    border: none;
    background-color: rgb(106,110,11);
    border-radius: 4px;
    padding: 5px 15px;
}

#button:hover{
    color: #000;
    background-color: rgb(157, 161, 23);
}

.label-text{
    font-size: 1.3rem;
    font-weight: 500;
}

option{
    width: 100%;
}

.label-text{
    font-size: 16px;
}

#p-text{
    color: #666;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 0 12px 0;
}

.opt{
    width: 80%;
    padding:0 0 0 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#footer-p{
    padding:0 0 0 10px ;
}

@media screen and (max-width: 768px){
    .container{
        max-width: 280px;
    }
    img{
        width: 280px;
    }
}